{% extends "index.html" %}
{% load static %}
{% block content %}
    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" href="{% url 'zell:main' %}">DomDivanov<span>.</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'zell:main' %}">Главный</a>
                    </li>
                    <li><a class="nav-link" href="{% url 'zell:products' %}">Продукты</a></li>
                    <li><a class="nav-link" href="{% url 'zell:about_us' %}">Про нас</a></li>
                    <li><a class="nav-link" href="{% url 'zell:contacts' %}">Свяжитесь с нами</a></li>
                </ul>
            </div>
        </div>
            
    </nav>
    <!-- End Header/Navigation -->

    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Современный Дизайн</h1>
                        <p class="mb-4">Мы идем в ногу с современным декором, продавая здоровую и качественную мебель под брендами <strong>ZELL FURNITURE</strong></p>
                        <p><a href="{% url 'zell:products' %}" class="btn btn-secondary me-2">Посмотреть сейчас</a></p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img style="" src="{% static 'images/couch.png' %}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <!-- Start Product Section -->
    <div class="product-section">
        <div class="container">
            <div class="row">
                {% for category in categories %}
                    <div class="col-lg-4 main_detail">
                        <a class="product-item" href="{% url 'zell:main_detail' category.pk %}">
                            <div style="height: 270px;">
                                <img src="{{ category.poster.url }}" class="img-fluid product-thumbnail" style="height: 100%; width:100%">
                            </div>
                            <h3 class="product-title text-center" style="margin-top:15px;">{{ category.name }}</h3>
                        </a>
                    </div>
                {% endfor %}
                {% comment %} <div class="col-lg-4">
                    <a class="product-item" href="#">
                    <img src="{% static 'images/BED!.jpg' %}" class="img-fluid product-thumbnail">
                    <h3 class="product-title text-center">Матрасы и кровати</h3>
                    </a>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <!-- End Product Section -->

    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h2 class="section-title">Почему выбрали нас</h2>
                    <p>Мы принимаем естественное за принцип, потому что природа вдохновляет нас.</p>

                    <div class="row my-5">
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'images/truck.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Быстро &amp; Бесплатная доставка внутри города</h3>
                                <p>Наша приверженность эффективности означает, что вы можете наслаждаться роскошью быстрой доставки заказов, гарантируя, что вы получите желаемые товары в мгновение ока. Попрощайтесь с долгим ожиданием и приветствуйте мгновенное удовлетворение.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Легко делать покупки</h3>
                                <p>Навигация по нашей платформе очень проста благодаря удобному интерфейсу, который позволяет найти то, что вам нужно, всего за несколько кликов. Откройте для себя тщательно подобранный выбор товаров, тщательно организованный для интуитивного просмотра, который превратит ваш поход по магазинам в настоящее удовольствие.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>24/7 Поддержка</h3>
                                <p>Наша преданная своему делу команда специалистов службы поддержки готова ответить на ваши запросы, решить проблемы и предоставить рекомендации в любое время. Будь то середина ночи или рассвет, мы здесь, чтобы дать ответы на ваши вопросы и оперативно устранить проблемы.</p>
                            </div>
                        </div>

                        

                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="img-wrap">
                        <img src="{% static 'images/why-choose-us-img.jpg' %}" alt="Image" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Why Choose Us Section -->

    <!-- Start We Help Section -->
    <div class="we-help-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="imgs-grid">
                        <div class="grid grid-1"><img src="{% static 'images/img-grid-1.jpg' %}" alt="Untree.co"></div>
                        <div class="grid grid-2"><img src="{% static 'images/img-grid-2.jpg' %}" alt="Untree.co"></div>
                        <div class="grid grid-3"><img src="{% static 'images/img-grid-3.jpg' %}" alt="Untree.co"></div>
                    </div>
                </div>
                <div class="col-lg-5 ps-lg-5">
                    <h2 class="section-title mb-4">Мы поможем вам создать современный дизайн интерьера</h2>
                    <p>Мы следим за современным декором, продовая здоровую и высококачественную мебель с компанией 
                        <strong>ZELL FURNITURE</strong>, и продаем постельные принадлежности известных брендов в мебельном секторе.</p>

                    <ul class="list-unstyled custom-list my-4">
                        <li>Мы гарантируем, что во всех наших инициативах мы получим правильное решение для клиента.</li>
                        <li>Мы придерживаемся самых высоких стандартов корпоративного управления во всей нашей
                            деятельности.</li>
                        <li>Мы берем на себя ответственность, делаем все возможное и думаем по-другому, чтобы найти
                            инновационные решения.</li>
                        <li>Мы открыто общаемся со всеми заинтересованными сторонами. Когда мы
                            совершаем ошибки, мы честно и откровенно признаем их.</li>
                    </ul>
                    <p><a herf="{% url 'zell:products' %}" class="btn">Посмотреть сейчас</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End We Help Section -->

    <!-- Start Popular Product -->
    {% comment %} <div class="popular-product">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="product-item-sm d-flex">
                        <div class="thumbnail">
                            <img src="images/product-1.png" alt="Image" class="img-fluid">
                        </div>
                        <div class="pt-3">
                            <h3>Nordic Chair</h3>
                            <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
                            <p><a href="#">Read More</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="product-item-sm d-flex">
                        <div class="thumbnail">
                            <img src="images/product-2.png" alt="Image" class="img-fluid">
                        </div>
                        <div class="pt-3">
                            <h3>Kruzo Aero Chair</h3>
                            <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
                            <p><a href="#">Read More</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="product-item-sm d-flex">
                        <div class="thumbnail">
                            <img src="images/product-3.png" alt="Image" class="img-fluid">
                        </div>
                        <div class="pt-3">
                            <h3>Ergonomic Chair</h3>
                            <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
                            <p><a href="#">Read More</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> {% endcomment %}
    <!-- End Popular Product -->
{% endblock %}